extends ../layouts/base

block content
  :php
    $destroy_url = Route::URI('Users#destroy');
    $edit_url = Route::URI('Users#edit');
    $index_url = Route::URI('Users#index');
    $create_url = Route::URI('Users#create');

    $prev_href = $index_url;
    $prev_disabled = '';
    $next_href = '#';
    $next_disabled = '';

    if($page_id==1)
      $prev_disabled = 'disabled';
    if($page_id > 2)
      $prev_href = '/page/' + ($page_id-1);
    if($page_id==$max_id)
      $next_disabled = 'disabled';
    if($page_id!=$max_id)
      $next_href = $index_url.'/page/'.($page_id+1);
    
  main
    .container
      .section.scrollspy
        .row
          h3.header.center-align.teal-text Users
        table.centered
          thead
            tr
              th Username
              th.hide-on-small-only Email
              th.hide-on-small-only Role
              th Action
          tbody
            for u in users
              :php
                $role_name = Role::find_role_name($u->role);
              tr
                td= u.username
                td.hide-on-small-only= u.email
                td.hide-on-small-only= role_name
                td
                  form(method='POST', action='#{destroy_url}#{u.id}')
                    +input_method('DELETE')
                    a.btn.tooltipped(href='#{edit_url}#{u.id}/edit', data-tooltip='Edit')
                      i.material-icons mode_edit
                    button.btn.tooltipped(type='submit', data-tooltip='Delete')
                      i.material-icons delete
        ul.pagination.center-align
          li.waves-effect(class='#{prev_disabled}')
            a(href='#{prev_href}')
              i.material-icons chevron_left
          li.waves-effect(class='#{next_disabled}')
            a(href='#{next_href}')
              i.material-icons chevron_right


    .fixed-action-btn.horizontal(style='top: 84px; right: 24px;')
      a.btn-floating.btn-large.waves-effect.waves-light.teal(href='#{create_url}')
          i.large.material-icons add

