extends ../layouts/base

block panel-title
  | Settings

block panel-body
  :php
    $post_url = Route::URI('OptionsController#update'); 
  
  ul.nav.nav-tabs
    li.active
      a(data-toggle="tab", href='#site') Site
    li
      a(data-toggle="tab", href='#jwt') JWT
    li
      a(data-toggle="tab", href='#smtp') SMTP
  
  p

  .tab-content.clearfix
    .tab-pane.fade.in.active#site
      form.form-horizontal(role='form', method='POST', action='#{post_url}site')
        +input_method('PUT')
        for v in site
          :php
            $name = str_replace('_', ' ', $v->name);
          .form-group
            label.col-md-4.control-label(for='#{v.name}') #{name}
            .col-md-6
              if v.name == "site_protocol"
                :php
                  $options = [
                    'http' => 'http', 
                    'https' => 'https'
                  ];
                +select(options, v.name, v.value).form-control.selectpicker
              else
                +input(v.name, v.value).form-control(type='text')
        .form-group
          .col-md-6.col-md-offset-4
            +form_submit('Update')

    .tab-pane.fade#jwt
      form.form-horizontal(role='form', method='POST', action='#{post_url}jwt')
        +input_method('PUT')
        for v in jwt
          :php
            $name = str_replace('_', ' ', $v->name);
          .form-group
            label.col-md-4.control-label(for='#{v.name}') #{name}
            .col-md-6
              +input(v.name, v.value).form-control(type='text')
        .form-group
          .col-md-6.col-md-offset-4
            +form_submit('Update')

    .tab-pane.fade#smtp
      form.form-horizontal(role='form', method='POST', action='#{post_url}smtp')
        +input_method('PUT')
        for v in smtp
          :php
            $name = str_replace('_', ' ', $v->name);
            $type = 'text';
            if(strcmp($v->name,'smtp_password')==0) $type = 'password';
          .form-group
            label.col-md-4.control-label(for='#{v.name}') #{name}
            .col-md-6
              if v.name == "smtp_auth"
                :php
                  $options = [
                    0 => 'disable', 
                    1 => 'enable'
                  ];
                +select(options, v.name, v.value).form-control.selectpicker
              else if v.name == "smtp_secure"
                :php
                  $options = [
                    'tls' => 'tls',
                    'ssl' => 'ssl'
                  ];
                +select(options, v.name, v.value).form-control.selectpicker
              else
                +input(v.name, v.value).form-control(type='text')
        .form-group
          .col-md-6.col-md-offset-4
            +form_submit('Update')

