extends ../layouts/base

block content
  :php
    $post_url = Route::URI('Options#update'); 
  
  main
    .container
      .section.scrollspy
        .row
          h3.header.center-align.teal-text Settings
        .row
          .col.s12.m8.offset-m2.l8.offset-l2
            .row
              .col.s12
                ul.tabs
                  li.tab.col.s4
                    a(href='#site').teal-text Site
                  li.tab.col.s4
                    a(href='#jwt').teal-text JWT
                  li.tab.col.s4
                    a(href='#smtp').teal-text SMTP
                  .indicator.teal
         
            .col.s12#site
              form(method='POST', action='#{post_url}')
                +input_method('PUT')
                +input_hidden('_switch', 'site')
                for v in site
                  .row
                    .input-field.col.s12
                      :php
                        $name = str_replace('_', ' ', $v->name);
                      if v.name == "site_protocol"
                        :php
                          $options = [
                            'http' => 'http', 
                            'https' => 'https'
                          ];
                        +select(options, v.name, v.value)
                      else
                        +input(v.name, v.value).validate(type='text') 
                      label(for='#{v.name}') #{name}

                .row
                .input-field.col.s12
                  .center-align
                    button.btn.waves-effect.waves-light(type='submit')
                      | Update

            .col.s12#jwt
              form(method='POST', action='#{post_url}')
                +input_method('PUT')
                +input_hidden('_switch', 'jwt')
                for v in jwt
                  .row
                    .input-field.col.s12
                      :php
                        $name = str_replace('_', ' ', $v->name);
                      +input(v.name, v.value).validate(type='text')
                      label(for='#{v.name}') #{name}
                .row
                  .input-field.col.s12
                    .center-align
                      button.btn.waves-effect.waves-light(type='submit')
                        | Update

            .col.s12#smtp
              form(method='POST', action='#{post_url}')
                +input_method('PUT')
                +input_hidden('_switch', 'smtp')
                for v in smtp
                  .row
                    .input-field.col.s12
                      :php
                        $name = str_replace('_', ' ', $v->name);
                        $input_type = 'text';
                        if(strcmp($v->name,'smtp_password')==0) $input_type = 'password';
                      if v.name == "smtp_auth"
                        :php
                          $options = [
                            0 => 'disable', 
                            1 => 'enable'
                          ];
                        +select(options, v.name, v.value)
                      else if v.name == "smtp_secure"
                        :php
                          $options = [
                            'tls' => 'tls',
                            'ssl' => 'ssl'
                          ];
                        +select(options, v.name, v.value)
                      else
                        if input_type == 'text'
                          +input(v.name, v.value).validate(type='text')
                        else
                          +input(v.name, '').validate(type='password')
                      label(for='#{v.name}') #{name}
                .row
                  .input-field.col.s12
                    .center-align
                      button.btn.waves-effect.waves-light(type='submit')
                        | Update

