mixin input_method(method)
  input#_method(type='hidden', name='_method', value='#{method}')

mixin input_hidden(name, value)
  input(type='hidden', name='#{name}', id='#{name}', value='#{value}')

mixin form_submit(name)
  button.btn.btn-primary(type='submit')
    | #{name}

mixin input(name, value)
  input(name='#{name}', id='#{name}', value='#{value}')&attributes(attributes)

mixin select(options, name, value)
  select(name='#{name}', id='#{name}')&attributes(attributes)
    for v,k in options
      :php
        $selected=0;
        if(!empty($value) && $value==$k)
          $selected=1;

      if selected
        option(value='#{k}', selected='selected') #{v}
      else
        option(value='#{k}') #{v}

mixin textarea(name, value)
  textarea(name='#{name}', id='#{name}')&attributes(attributes)= value

